header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10rem;
    background-color: deeppink;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
